body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: zabars;
    background-image: url('img/Wüste.png');
    margin: 0;
}

@font-face {
    font-family: 'zabars';
    src: url('fonts/Zabars.ttf') format('truetype');
}

h1 {
    font-size: 71px;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
    letter-spacing: 8px;
    color: #9b401d;
}

.content {
    position: relative;
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 6px rgba(160, 34, 10, 0.7);
}

canvas {
    background-color: black;
    position: relative;
    display: block;
    border-radius: 10px;
}

.content:fullscreen,
.intro-outro {
    height: 100% !important;
    width: 100% !important;
}

.onscreen-btn {
    position: absolute;
    top: 10px;
    z-index: 12;
}

@media only screen and (max-width:720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height:480px) {
    canvas {
        height: 100vh;
    }
}

.intro-outro {
    height: 480px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;

}

.fade-in {
    opacity: 1;
}
.end-square{
    height: 195px;
    width: 100%;
    margin-top: 50px;
}
.intro-outro img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.d-none {
    display: none !important;
}

.you-won {
    font-size: 120px;
    font-family: 'Boogaloo', cursive;
    background-image: linear-gradient(to bottom, #ffdf00, #ffa602);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    z-index: 2;
    text-align: center;
    -webkit-text-stroke: 3px #9b401d;
}
.endscree-won{
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}
.overlay {
    position: absolute;
    z-index: 10;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-buttons img {
    height: 30px;
}

.setting-buttons {
    background-image: linear-gradient(to bottom, #ffa602, #ffdf00);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 225ms all ease-in-out;
}

.setting-buttons:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to bottom, #ffdf00, #ffa602);
}

.settings {
    display: flex;
    gap: 14px;
    margin-left: 20px;
}



.top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 20px;
}

.top button {
    height: 90px;
    width: 90px;
}
.overlay-bottom {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    width: 70%;
}

.control-buttons {
    display: flex;
    gap: 40px;
    margin-left: 40px;
}

.action-buttons {
    display: flex;
    gap: 20px;
    margin-right: 40px;
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    border: 2px #a75f39 solid;
    font-size: 28px;
    padding: 5px;
    font-family: zabars;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #ffa602, #ffdf00);
    color: #9b401d;
    transition: 100ms ease-in-out;
    letter-spacing: 2px;
}

.restart:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to bottom, #ffdf00, #ffa602);
}

.rotate-device {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    gap: 20px;
}


.rotate-device img {
    height: 100px;
    width: 100px;
    animation: rotation 2s linear infinite;
    /* Die Animation dauert 4 Sekunden, wiederholt sich endlos */
}

.full-opacity {
    opacity: 1;
}

.tutorial {
    display: flex;
    justify-content: space-between;
    width: 680px;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    background-color: rgba(235, 150, 32, 0.7);
    margin-top: 10px;
    border: 1px solid #9b401d;
    font-family: 'Boogaloo', cursive;
}

.tutorial img {
    border-radius: 5px;
    border: 2px solid #9b401d;
    background-image: linear-gradient(to bottom, #ffa602, #ffdf00);
    padding: 2px;
    height: 30px;
    margin-left: 10px;
}

.tutorial div {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #a02209;
}

@keyframes rotation {
    0% {
        transform: rotate(60deg);
        /* Startwinkel: 0 Grad */
    }

    50% {
        transform: rotate(-60deg);
        /* Dreht das Bild um 180 Grad */
    }

    100% {
        transform: rotate(60deg);
        /* Dreht das Bild weitere 180 Grad (komplette Drehung) */
    }
}



@media (max-width: 1050px) {

}
@media only screen and (max-width: 750px) {
    .rotate-device{
        display: flex;
    }
    
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .rotate-device {
        display: none;
    }
    h1 {
        display: none !important;
    }
    .tutorial{
        display: none;
    }
    h1 {
        display: none !important;
    }
    
}